* {
  margin: 0;
  padding: 0;
}

body {
  font-size: 0.8rem;
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  justify-content: flex-start;
}

img {
  margin: 10px;
  margin: 10px;
  width: 200px;
  height: 200px;
}

body div {
  margin: 10px;
  padding: 10px;
  width: 400px;
}

header {
  margin-top: 10px;
  margin-bottom: 20px;
  font-size: 0.8rem;
}
h1 {
  margin-bottom: 10px;
}

header a {
  text-decoration: none;
  color: blue;
}

form {
  margin-left: 0px;
  padding-left: 0px;
  display: flex;
  flex-direction: column;
}

.form__label {
  margin-bottom: 10px;
  font-weight: bold;
}

.form__input {
  margin-bottom: 20px;
  height: 30px;
}

ul {
  font-size: 0.7rem;
  display: flex;
  justify-content: flex-start;
  align-content: flex-start;
  list-style-type: none;
}

li::before {
  margin-right: 10px;
  content: "•";
  color: blue;
}

.signUp {
  display: flex;
  justify-content: space-evenly;
}

button {
  margin-top: 20px;
  width: 200px;
  height: 40px;
  background-color: white;
  border: solid 0.1rem rgb(221, 214, 214);
}

button a {
  text-decoration: none;
  color: rgb(221, 214, 214);
}

.signUp div {
  margin: 20px;
}

footer a {
  color: blue;
}

/*MEDIA QUERIES*/

@media (min-width: 576px) {
  body {
      font-size: 14px;
    
  }
}
@media (min-width: 768px) {
  body {
      font-size: 16px;
     
  }
}
@media (min-width: 992px) {
  body {
      font-size: 20px;
     
  }
}
@media (min-width: 1200px) {
  body {
      font-size: 24px;
  }
}